$color-blue-0: #8498A2;
$color-blue-1: #A1C4FD;
$color-blue-2: #C2E9FB;
$color-blue-3: #D2F0FF;

$color-grey-1: #2B3135;
$color-grey-2: #3E434B;
$color-grey-3: #414B50;
$color-grey-4: #979797;
$color-grey-5: #fafafa;
